.headerstyle {
  padding-top: 1vh;
  padding-left: 4vw;
  padding-bottom: 1vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #00254c;
}

.mainLink {
  text-transform: uppercase;
  font-size: var(--mantine-font-size-s);
  color: light-dark(var(--mantine-color-white), var(--mantine-color-gray-2));
  padding: rem(1px) var(--mantine-spacing-sm);
  font-weight: 700;
  border-bottom: rem(2px) solid transparent;
  transition:
    border-color 100ms ease,
    color 100ms ease;

  @mixin hover {
    color: light-dark(rgb(35, 112, 116), var(--mantine-color-white));
    text-decoration: none;
  }

  &[data-active] {
    color: light-dark(var(--mantine-color-white), var(--mantine-color-white));
    border-bottom-color: rgb(36, 193, 187);
  }
}